@import "variables";

.kanban-board {
  width: 100%;
  height: 100%;
  padding: $space-medium;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  gap: $space-large;
  overflow: scroll;
  align-items: flex-start;
}
