@import "variables";

.kanban-view-card {
  width: 100%;
  background-color: var(--background-secondary);
  border-radius: $border-radius-medium;
  overflow: visible;
  box-shadow: 1px 1px var(--background-primary-alt);
  padding: $space-medium;

  &.dragging {
    opacity: $opacity-thick;
  }

  &:hover {
    filter: brightness($brightness-medium);
    transition: all;
    transition-duration: $transition-fast;
  }

  /* Title */
  .title {
    padding-bottom: $space-small;
    margin-block: $space-medium;
  }

  /* Properties container */
  .properties-container {
    display: flex;
    flex-direction: column;
    gap: $space-small;

    .property-container {
      width: fit-content;
      border-radius: $border-radius-small;
      padding: $space-small;

      &.expanded-width {
        width: 100%;
      }

      &:hover {
        background-color: var(--background-modifier-hover);
        filter: brightness($brightness-medium);
        transition: all;
        transition-duration: $transition-fast;
      }

      /* == Property elements == */

      // TEXT
      .text-property {
        width: 100%;
        button {
          width: 100%;
          height: 100%;
          padding: 0;
          box-shadow: none;
          background-color: transparent;

          div {
            text-align: start;
            text-wrap: auto;
            width: 100%;

            p {
              white-space: pre-wrap;
              padding-bottom: $space-small;
            }
          }
        }

        textarea {
          width: 100%;
          height: auto;
          resize: none;
          overflow: hidden;
        }
      }

      // CHECKBOX
      .checkbox-property {
        display: flex;
        align-items: center;

        span {
          padding-bottom: $space-small;
        }
      }
    }
  }
}
