@import "variables";

.kanban-view-card {
  width: 100%;
  background-color: #ffffff;
  padding: $space-small;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-x: auto;

  &.dragging {
    opacity: $opacity-thick;
  }
}
