@import "variables";

.kanban-view-card {
  width: 100%;
  background-color: var(--background-secondary);
  border-radius: $border-radius-medium;
  overflow: visible;
  box-shadow: 1px 1px var(--background-primary-alt);
  padding: $space-medium;

  &.dragging {
    opacity: $opacity-thick;
  }

  &:hover {
    filter: brightness($brightness-medium);
    transition: all;
    transition-duration: $transition-fast;
  }

  /* Title */
  .title {
    padding-bottom: $space-small;
    margin-block: $space-medium;
  }

  /* Properties container */
  .properties-container {
    display: flex;
    flex-direction: column;
    gap: $space-small;

    .property-container {
      width: 100%;
      border-radius: $border-radius-small;
      padding: $space-small;

      &:hover {
        background-color: var(--background-modifier-hover);
        filter: brightness($brightness-medium);
        transition: all;
        transition-duration: $transition-fast;
      }

      // Property elements

      .text-property {
        button {
          box-shadow: none;
          background-color: transparent;
          padding: 0;
          width: 100%;
          height: 100%;

          div {
            text-align: start;
            text-wrap: auto;
            width: 100%;
          }
        }

        textarea {
          width: 100%;
          resize: block;
        }
      }
    }
  }
}
