@import "variables";

.kanban-column {
  width: $column-width-medium; // It's used as default card size
  border-radius: $border-radius-large;

  // Column size
  &.small {
    width: $column-width-small !important;
  }

  &.medium {
    width: $column-width-medium !important;
  }

  &.large {
    width: $column-width-large !important;
  }

  // When dragged
  &.dragging {
    opacity: $opacity-thick;
  }

  // Column header container
  .header-container {
    width: 100%;
    background-color: var(--background-primary);
    padding-top: $space-medium;
    position: sticky;
    top: 0;
    z-index: 1;

    &.overlay {
      background-color: transparent;
    }

    // Column header
    .header {
      width: 100%;
      border-top-right-radius: $border-radius-large;
      border-top-left-radius: $border-radius-large;
      padding: $space-large $space-large $space-medium $space-medium;
      cursor: grab;
      user-select: none;
      display: flex;
      flex-direction: row;
      gap: $space-medium;
      align-items: center;
      color: var(--text-normal);

      // when showColumnColors is disabled
      &.no-base-color {
        background-color: var(--background-secondary);
        color: var(--text-normal);
      }

      // Key
      .key {
        background-color: var(--background-secondary);
        margin-top: $space-small;
        padding: $space-small $space-medium;
        border-radius: $border-radius-large;
      }
    }
  }

  // Cards container
  .cards-container {
    width: 100%;
    padding: $space-medium;
    display: flex;
    flex-direction: column;
    gap: $space-medium;
    border-bottom-right-radius: $border-radius-large;
    border-bottom-left-radius: $border-radius-large;

    &.no-base-color {
      background-color: var(--background-secondary-alt);
    }
  }
}
