@import "variables";
@import "board";
@import "column";
@import "card";

/* === STYLE INITIALIZATION === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

/*
* Entry element of plugin
* !!This should be same name as PLUGIN_CONFIG.plugin_container_id
*/
.kanban-view-container {
  width: 100%;
  height: 100%;
}
